body{
    font-style: "Montserrat";
}

#title{
    background-color: #ff4c68;
}

h1 {  
    /* font-family: 'Montserrat-black, sans-serif';   */
    color: white;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h2{
    /* font-family: 'Fira Sans', sans-serif; */
    line-height: 1.5;
    font-weight: 700;
    font-size: 3.2rem;
}

h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* navigation brand */

.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu"; 
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    /* font-family: "Montserrat-light"; */
    
}


/* download buttons */

.dl-button{
    margin: 5% 3% 5% 0;
}


/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-col{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}

/* Carousal section */

.carousel-item{
    padding: 7% 15%;
}


/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 12%;
    margin: 25px 25px 50px;
}


/* pricing section */

#pricing{
    padding: 7.25rem;
    text-align: center;
}


.price-col{
    padding: 3% 2%;
}



/* cta section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-head{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4.1rem;
    font-weight: 900;
    line-height: 1.5;
}


/* footer section */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.foot-icon{
    margin: 20px 10px;
}



/* media query advanced CSS topic */

@media (max-width: 1028px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}